<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HappyInTummy</display-name>
  <welcome-file-list>
    <welcome-file>LandingPage.jsp</welcome-file>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
 
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>happytummy.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  
 <servlet>
    <description></description>
    <servlet-name>GetPlanServlet</servlet-name>
    <servlet-class>happytummy.servlet.GetPlanServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GetPlanServlet</servlet-name>
    <url-pattern>/GetPlanServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <servlet-name>MenuItemsList</servlet-name>
    <servlet-class>happytummy.servlet.MenuItemsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuItemsList</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <servlet-name>BmiMenu</servlet-name>
    <servlet-class>happytummy.servlet.BmiBasedMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BmiMenu</servlet-name>
    <url-pattern>/bmi-menu</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <servlet-name>checkout</servlet-name>
    <servlet-class>happytummy.servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  
	  <!-- Added by Rini Shaji  -->
	<servlet>
	<description/>
	<servlet-name>EditUserDetails</servlet-name>
	<servlet-class>happytummy.servlet.EditUserDetails</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>EditUserDetails</servlet-name>
	<url-pattern>/EditUserDetails</url-pattern>
	</servlet-mapping>
	<servlet>
	<description/>
	<servlet-name>CheckUserExists</servlet-name>
	<servlet-class>happytummy.servlet.CheckUserExists</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>CheckUserExists</servlet-name>
	<url-pattern>/CheckUserExists</url-pattern>
	</servlet-mapping>
	<servlet>
	<description/>
	<servlet-name>UpdateUserDetails</servlet-name>
	<servlet-class>happytummy.servlet.UpdateUserDetails</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>UpdateUserDetails</servlet-name>
	<url-pattern>/UpdateUserDetails</url-pattern>
	</servlet-mapping>
</web-app>